# Visual Studioの作業フォルダー
.vs/

# 中間成果物格納フォルダー
build/

# ビルド成果物格納フォルダー
MinGW/
Win32/
x64/

# ビルドログ
msbuild-*.log
msbuild-*.log.csv
msbuild-*.log.xlsx

# ユニットテスト結果
TestResults/
LastCoverageResults.log
*-googletest.xml
*-coverage.xml

# SONARQUBE/SONARCLOUD関連
.sonar/
.sonarqube/
.scannerwork/
SONAR_TOKEN

# 自動でaddさせない拡張子
*.aps
*.bak
*.iobj
*.ipdb
*.log
*.patch
*.pyc
*.vcxproj.user

# Visual Studioが生成する一時ファイル（定義しておく意義が微妙。）
Backup/
UpgradeLog.htm

# doxygenの出力
html/

# NuGetパッケージフォルダー
packages/

# 過去の遺物（未整理）
/help/sakura/sakura.hh
sakura-*.zip
sakura-*.zip.md5
sha256.txt
tags
testData_*.txt
